body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}

:root {
  --first-title-color: #ffffff;
  --header-contacts-color: #757575;
  --btn-color: #ffffff;
  --btn-background: #2196f3;
  --text-color: #757575;
  --footer-logo-color: #ffffff;
  --prt-hero-btn-color: #212121;
  --header-footer-hover-focus-color: #2196f3;
}

/* ------------------------------------HEADER--------------------*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}
/* .visually-hidden - приховує невидимий контент - h2 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-link:hover,
.header-tel:hover,
.header-mailto:hover,
.header-link:focus,
.header-tel:focus,
.header-mailto:focus,
.header-link.current {
  color: var(--header-footer-hover-focus-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo span {
  color: #2196f3;
}

.header-tel,
.header-mailto {
  /* font-weight: 500;*/
  /* font-size: 14px;*/
  /*line-height: 1.14;*/
  letter-spacing: 0.02em;
  color: #757575;
}

.header-link {
  /*  font-weight: 500;*/
  /* font-size: 14px;*/
  /*line-height: 1.14;*/
  letter-spacing: 0.02em;
  color: #212121;
}

/* ------------------------------HERO------------------------------*/
.hero,
.footer {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.hero-btn {
  background: var(--btn-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--btn-color);
}

/* -------------------------------OUR ADVANTAGES--------------------*/
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  /*line-height: 1.14;*/
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  /* font-size: 14px;*/
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ------------------------------------WHAT WE DO--------------------*/
.whatwedo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
/* ------------------------------------TEAM--------------------------*/
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team-photo-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ------------------------------------FOOTER--------------------------*/

.footer > .logo {
  color: #ffffff;
}

.address-map {
  font-style: normal;
  /*font-size: 14px;*/
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-logo-color);
}
.address-tel,
.address-mailto {
  font-style: normal;
  /*font-size: 14px;*/
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ------------------P--O--R--T--F--O--L--I--O--------------------------*/
/* ------------------------------HERO------------------------------*/

.prt-hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--prt-hero-btn-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}

.prt-hero-btn:hover,
.prt-hero-btn:focus {
  background: var(--btn-background);
  color: var(--btn-color);
}
.prt-h2-style {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.prt-p-style {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.address-map:hover,
.address-tel:hover,
.address-mailto:hover,
.address-map:focus,
.address-tel:focus,
.address-mailto:focus {
  color: var(--header-footer-hover-focus-color);
}
